/* Content Wrap
###########################################################################  */

.overview {
  width: 100vw;

  /* height: auto; */
  padding: 40px;
  background-color: var(--light);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
}

.content-wrap:nth-child(even) {
  background-color: var(--lighter);
}

/* Card
###########################################################################  */

.card {
  padding-bottom: 20px;
  background-color: var(--lightest);
  height: 60vh;
  border-radius: var(--radius-m);
  overflow: hidden;
  box-shadow: var(--n-shadow-l);
}

.card:hover {
  height: auto;
  width: 512px;
}

.card:hover > .additional-infos {
  display: block;
  opacity: 1;
}

.card:hover img {
  height: 420px;
}

.card figcaption {
  padding: var(--l) var(--m) var(--s) var(--m);
}
