/* Meta Infos
###########################################################################  */

.info-list {
  padding-top: var(--l);
  padding-bottom: var(--xl);
}

.info-list::after {
  display: none;
  clear: both;
  content: '.';
}

.info-list dt {
  margin-right: var(--xxs);
  float: left;
  font-weight: var(--fw-bold);
}

.info-list dt::after {
  content: ':';
}

/* Intro Text
###########################################################################  */

.intro-text {
  width: 100%;
  max-width: calc(var(--l) * 40);
  padding: var(--m);
  font-size: var(--l);
  line-height: var(--lh-normal);
}


/* Additional Infos
###########################################################################  */

.additional-infos {
  display: none;
  padding: 0 var(--s);
  opacity: 0;
  transition: opacity 2s linear;
}
